<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ADC546D31EA3E53100D9B56C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADC546E71EA3E53100D9B56C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADC546F21EA3E53100D9B56C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
